
.toggle-container {
  position: relative;
}

/* Toggle button styling */
.menu-toggle {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: black;
  position: fixed;
  top: 15px;
  right: 20px;
  z-index: 1001;

}

/* Full-screen menu */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
  transition: opacity 0.3s ease;
}

.menu.open {
  display: flex;
}

/* Styling for the menu items */
.menu ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.menu ul li {
  margin: 20px 0;
}

.menu ul li a {
  color: white;
  font-size: 24px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: color 0.3s;
}

.menu ul li a:hover {
  color: cyan;
}

.no-underline {
  text-decoration: none;
  color: inherit;
}

/* Icon styles for open and close */
.hamburger-icon,
.close-icon {
  font-size: 32px;
  color: black;
  cursor: pointer;
}
